name: ci

on:
  push:
    branches:
      - 'master'
  schedule:
    # Daily
    - cron: '0 0 * * *'

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@v2
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      -
        name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      -
        name: Build and push
        uses: docker/build-push-action@v3
        with:
          pull: true
          push: true
          platform: linux/amd64,linux/arm64,linux/arm64v8,linux/arm32v7 
          tags: willholtz/alpine-glibc:latest,willholtz/alpine-glibc:alpine-3.19_glibc-2.34,willholtz/alpine-glibc:alpine-3.19,willholtz/alpine-glibc:glibc-2.34
          cache-from: type=registry,ref=willholtz/alpine-glibc:latest
          cache-to: type=inline
